# ignore notebook checkpoints
.ipynb_checkpoints/

# ignore virtual environment
.venv/

# ignore data
aptos_data/
prepared_data_aptos.zip
prepared_data_aptos_binary.zip

# ignore model checkpoint
model checkpoint/